.sSectBody
    .sSectBodyWr#chatBox
        //#topOfChat loading...
        .sSectBodyItem(v-if="chat.length==0")
            .sSectBodyItemRow Еще нет сообщений
        .sSectBodyItem(:id="'chat'+item.id" v-for="item in chat" v-bind:class="{my:item.userid==user.id}" v-if="!item.isDeleted")
            .sSectBodyItemRow {{moment(item.createDate).format('HH:mm')}}
                span.bold &nbsp;{{getText(item.name)}}
            .sSectBodyItemRow(v-html="getText(item.text)")
            .sSectBodyItemRow(v-if="item.file")
                .sSectBodyFileLink
                    a(:href="'/in/api/downloadFile/'+item.id" :download="item.fileName") {{item.fileName}} ({{humanFileSize(item.fileSize)}})
                img.sSectBodyFileImage(v-if="item.fileType.indexOf('image/')==0" :src="'/in/api/downloadFile/'+item.id")
            .sSectBodyItemRow(v-if="status.isChatLikes")
                span.likes(@click="likeChat(item)") &#x1F44D; {{item.likes}}
                span.likes(@click="dislikeChat(item)") &#x1F44E; {{item.dislikes}}
            .sSectBodyItemRow(v-if="!item.isMod &&  status.isChatPreMod" style="color:red") сообщение на модерации

            if isModerator
                .sSectBodyItemRow(style="display: flex;justify-content: end;")
                    .button.small.maxContent.red(@click="delChat(item)") Удалить
                .sSectBodyItemRow(v-if="status.isChatPreMod")
                    .chatBtnGroup(v-if="!item.isMod")
                        .chatBtnGroupTitle НЕ показано
                        .button.small.maxContent(@click="modChat(item)") Показать

                    .chatBtnGroup(v-if="item.isMod")
                        .chatBtnGroupTitle Показано
                        .button.small.maxContent(@click="modChat(item)") Скрыть
    .chatNewItems(v-if="chatNewItems>1" @click="chatNewItemClick()") {{chatNewItems-1}}
        span.chatNewItemsCap NEW

.sSectFooter

    .sSectInput
        .sSectInputField
            input#chatText(placeholder="Здесь текст сообщения" v-model="chatText" v-on:paste="onPasteChat($event)" v-on:keydown="if($event.keyCode==13) chatSend()")
            .sSectSmileList(@click="addSmileToChat()") &#x1F600;
            .sSectAttach(@click="addImageToChat()") &#x1F4CE;
            .sSectSend(@click="chatSend()" ) &#8688;
            #sChatUploader
        //.sSectInputSend
            .button(@click="chatSend()" ) Send
