.sSectBody
    .sSectBodyWr#chatBox
        .sSectBodyItem(:id="'chat'+item.id" v-for="item in chat" v-bind:class="{my:item.userid==user.id}" v-if="!item.isDeleted")
            .sSectBodyItemRow {{moment(item.createDate).format('HH:mm')}}
                span.bold &nbsp;{{item.name}}
            .sSectBodyItemRow {{item.text}}
            .sSectBodyItemRow(v-if="status.isChatLikes")
                span.likes(@click="likeChat(item)") &#x1F44D; {{item.likes}}
                span.likes(@click="dislikeChat(item)") &#x1F44E; {{item.dislikes}}
            .sSectBodyItemRow(v-if="!item.isMod &&  status.isChatPreMod" style="color:red") сообщение на модерации
            script {{newChatItem(itemId)}}
            if isModerator
                .sSectBodyItemRow(style="display: flex;justify-content: end;")
                    .button.small.maxContent.red(@click="delChat(item)") Удалить
                .sSectBodyItemRow(v-if="status.isChatPreMod")
                    .chatBtnGroup(v-if="!item.isMod")
                        .chatBtnGroupTitle НЕ показано
                        .button.small.maxContent(@click="modChat(item)") Показать

                    .chatBtnGroup(v-if="item.isMod")
                        .chatBtnGroupTitle Показано
                        .button.small.maxContent(@click="modChat(item)") Скрыть


.sSectFooter

    .sSectInput

        .sSectInputField
            input#chatText(placeholder="Please, write here" v-model="chatText" v-on:keydown="if($event.keyCode==13) chatSend()")
            .sSectSmileList(@click="addSmileToChat()") &#x1F600;
        .sSectInputSend
            .button(@click="chatSend()" ) Send
