.reqUser(v-if="reqUserShow")
    .reqUserBox
        h4 Please, register
        .reqUserRow
            .sSectInputField(v-if="userError" style="color:red") {{userError}}
            input#register(v-model="user.name")
        .button#registerBtn Log in
