.reqUser(v-if="reqUserShow")
    .reqUserBox
        h4 Пожалуйста, зарегистрируйтесь
        .reqUserRow
            .sSectInputField(v-if="userError" style="color:red") {{userError}}
            input#register(placeholder="Имя, фамилия или ник" v-model="user.name")
        .button#registerBtn Регистрация
