extends layout
block content
  script(src="include/axios.js")
block content
  .sSWr
    .sAbody
      h4 login
      input(placeholder="login")
      input(placeholder="password")
      .button Log In
