extends layout
block content
  script(src="include/axios.js")
block content
  .sAWr#app
    h4 List of active rooms
    .button(style="width:100px" @click="addRoom()") Add room
    .sAbox
      .sArow(v-for="item in rooms")
        .sArowTitle id: <b>{{item.id}}</b>, date created: <b>{{moment(item.dateCreate).format('DD.MM.YYYY HH:mm:ss')}}</b>

  script(src="include/axios.js")
  script(src="include/vue.min.js")
  script(src="include/moment.min.js")
  script.
    "use strict"
    let app = new Vue({
      el:"#app",
      data:{
        rooms:[]
      },
      methods:{
        addRoom:async function(){
          let r=await axios.post("api/room");

          this.rooms=r.data.concat(this.rooms);
        }
      },
      mounted:function (){

      }
    });


