extends layout

block content
  .sModBox#app
    .sModPadel
      .h4 Чаn  включен
          .button.inline.maxContent выключить
    .sModPadel
      .h4 Вопросы
    .sModPadel
      .h4 Голосование
  script.
    const ROOM=!{JSON.stringify(room)};

