extends layout

block content
  .sModBox#app
    .sModPadel
      .h4 Чат
        .h6 включен
          .button выключить
    .sModPadel
      .h4 Вопросы
    .sModPadel
      .h4 Голосование
  script.
    const ROOM=!{JSON.stringify(room)};

