extends layout

block content
  .sModBox#app
    .sModPadel
      .sModPanelHead
        .h4(v-if="status.isChat") Чат  включен &nbsp;
        .button.maxContent.small(v-if="status.isChat" @click="changeStatus('isChat')") Выключить
        .h4(v-if="!status.isChat") Чат  выключен &nbsp;
        .button.maxContent.small.red(v-if="!status.isChat" @click="changeStatus('isChat')") Включить
        .sModSettings(@click="chatConfigShow=!chatConfigShow") &#x2699;
        .sModSettingsBox(v-if="chatConfigShow")
          .sModSettingsBoxRow(v-bind:class="{active:status.isChatPreMod}" v-on:click="changeStatus('isChatPreMod')")
            .sModSettingsBoxRowRound
            .sModSettingsBoxRowTitle Пре-модерация
          .sModSettingsBoxRow(v-bind:class="{active:status.isChatLikes}" v-on:click="changeStatus('isChatLikes')")
            .sModSettingsBoxRowRound
            .sModSettingsBoxRowTitle Лайки
          .sModSettingsBoxRow
            .button.small.maxContent(@click="chatConfigShow=!chatConfigShow") Закрыть настройки

      .sBody
        .sSectWr
          .sSectBody
            .sSectBodyWr
              .sSectBodyItem(v-for="item in chat" v-bind:class="{my:item.userid==user.id}")
                .sSectBodyItemRow {{moment(item.createDate).format('HH:mm')}}
                  span.bold &nbsp;{{item.name}}
                .sSectBodyItemRow {{item.text}}
                .sSectBodyItemRow
                  span.likes(@click="likeChat(item)") &#x1F44D; {{item.likes}}
                  span.likes(@click="dislikeChat(item)") &#x1F44E; {{item.dislikes}}
          .sSectFooter
            .sSectInput
              .sSectSmileList(@click="addSmileToChat()") &#x1F600;
              .sSectInputField
                input#chatText(placeholder="Please, write here" v-model="chatText" v-on:keydown="if($event.keyCode==13) chatSend()")
              .sSectInputSend
                .button(@click="chatSend()" ) Send
    .sModPadel
      .sModPanelHead
        .h4 Вопросы  включены &nbsp;
        .button.maxContent.small Выключить
        .sModSettings &#x2699;
    .sModPadel
      .h4 Голосование
      .h4
    .reqUser(v-if="reqUserShow")
      .reqUserBox
        h4 Please, register
        .reqUserRow
          .sSectInputField(v-if="userError" style="color:red") {{userError}}
          input#register(v-model="user.name")
        .button#registerBtn Log in
  script.
    const ROOM=!{JSON.stringify(room[0])};
  script(src="/include/vue.min.js")
  script(src="/include/axios.js")
  script(src="/include/moment.min.js")
  script(src="/include/utils.js")
  script(src="/include/moderatorScript.js")

