extends layout

block content
  .sModBox#app
    .sModPadel
      .h4 Чат  включен &nbsp;
          .button.inline.maxContent.small выключить
          .sModSettings &#x2699;
    .sModPadel
      .h4 Вопросы включены &nbsp;
        .button.inline.maxContent.small выключить
        .sModSettings &#x2699;
    .sModPadel
      .h4 Голосование
      .h4
  script.
    const ROOM=!{JSON.stringify(room)};

