extends layout

block content
  .sModBox#app
    .sModPadel
      .sModPanelHead
        .h4(v-if="status.isChat") Чат  включен &nbsp;
        .button.maxContent.small(v-if="status.isChat" @click="status.isChat=!status.isChat") Выключить
        .h4(v-if="!status.isChat") Чат  выключен &nbsp;
        .button.maxContent.small.red(v-if="!status.isChat" @click="status.isChat=!status.isChat") Включить
        .sModSettings(@click="chatConfigShow=!chatConfigShow") &#x2699;
        .sModSettingsBox(v-if="chatConfigShow")
          .sModSettingsBoxRow(v-bind:class="{active:status.isChatPreMod}" v-on:click="changeStatus('isChatPreMod')")
            .sModSettingsBoxRowRound
            .sModSettingsBoxRowTitle Пре-модерация
          .sModSettingsBoxRow(v-bind:class="{active:status.isChatLikes}" v-on:click="changeStatus('isChatLikes')")
            .sModSettingsBoxRowRound
            .sModSettingsBoxRowTitle Лайки
          .sModSettingsBoxRow
            .button.small.maxContent(@click="chatConfigShow=!chatConfigShow") Закрыть настройки
    .sModPadel
      .sModPanelHead
        .h4 Вопросы  включены &nbsp;
        .button.maxContent.small Выключить
        .sModSettings &#x2699;
    .sModPadel
      .h4 Голосование
      .h4
  script.
    const ROOM=!{JSON.stringify(room[0])};
  script(src="/include/vue.min.js")
  script(src="/include/axios.js")
  script(src="/include/moderatorScript.js")

