extends layout

block content
  .sModBox#app
    .sModPadel
      .sModPanelHead
        .h4 Чат  включен &nbsp;
        .button.maxContent.small выключить
        .sModSettings(@click="chatConfigShow=!chatConfigShow") &#x2699;
        .sModSettingsBox
          .sModSettingsBoxRow
            .sModSettingsBoxRowRound
            .sModSettingsBoxRowTitle Пре-модерация
          .sModSettingsBoxRow
            .sModSettingsBoxRowRound
            .sModSettingsBoxRowTitle Лайки
    .sModPadel
      .sModPanelHead
        .h4 Вопросы  включены &nbsp;
        .button.maxContent.small выключить
        .sModSettings &#x2699;
    .sModPadel
      .h4 Голосование
      .h4
  script.
    const ROOM=!{JSON.stringify(room)};
  script(src="/include/vue.min.js")
  script(src="/include/moderatorScript.js")

