.sBox
    .sLoader(v-if="!isLoaded")
    .sRoomBox(v-if="isLoaded")
        .sHeader
            .sHeaderItem(v-bind:class="{active:section==0}" v-on:click="section=0")
                .sHeaderItemTitle
                    .sHeaderItemTitleText Чат
                    .sHeaderItemTitleIcon
            .sHeaderItem(v-bind:class="{active:section==1}" v-on:click="section=1")
                .sHeaderItemTitle
                    .sHeaderItemTitleText Вопросы
                    .sHeaderItemTitleIcon
        .sBody
            .sSectWr(v-show="section==0")
                .sSectBody
                    .sSectBodyItem(v-for="item in chat")
                        .sSectBodyItemRow {{item.dateCreate}} {{item.name}}
                        .sSectBodyItemRow {{item.text}}
                        .sSectBodyItemRow {{item.likes}} {{item.dislikes}}
                .sSectFooter
                    .sSectInput
                        .sSectSmileList(@click="addSmileToChat()") &#x1F600;
                        .sSectInputField
                            input#chatText(placeholder="Please, write here" v-model="chatText")
                        .sSectInputSend
                            .button(@click="chatSend()" v-on:keydown="if($event.keyCode==13) chatSend()") Send

            .sSectWr(v-show="section==1")
                .sSectBody Вопросы
                .sSectFooter input q
        .reqUser(v-if="reqUserShow")
            .reqUserBox
                h4 Please, register
                .reqUserRow
                    .sSectInputField(v-if="userError" style="color:red") {{userError}}
                    input#register(v-model="user.name")
                .button#registerBtn Log in




