.sBox
    .sLoader(v-if="!isLoaded")
    .sRoomBox(v-if="isLoaded")
        .sHeader
            .sHeaderItem(v-if="status.isChat" v-bind:class="{active:section==0}" v-on:click="section=0")
                .sHeaderItemTitle
                    .sHeaderItemTitleText Чат
                    .sHeaderItemTitleIcon
            .sHeaderItem(v-bind:class="{active:section==1}" v-on:click="section=1")
                .sHeaderItemTitle
                    .sHeaderItemTitleText Вопросы
                    .sHeaderItemTitleIcon
        .sBody
            .sSectWr(v-show="section==0" v-if="status.isChat")
                include elements/chatBody

            .sSectWr(v-show="section==1")
                .sSectBody Вопросы
                .sSectFooter input q
        include elements/regUser




