
.sBox
    .sLoader(v-if="!isLoaded")
    .sRoomBox(v-if="isLoaded")
        .sHeader
            .sHeaderItem(v-if="status.isChat"  v-bind:class="{active:section==0, aFull:!status.isQ}" v-on:click="changeSection(0)")
                .sHeaderItemTitle
                    .sHeaderItemTitleText Чат
                    .sHeaderItemTitleIcon
            .sHeaderItem(v-if="status.isQ" v-bind:class="{active:section==1, aFull:!status.isChat}" v-on:click="changeSection(1)")
                .sHeaderItemTitle
                    .sHeaderItemTitleText Вопросы
                    .sHeaderItemTitleIcon
        .sBody
            .sSectWr(v-show="section==0" v-if="status.isChat")
                include elements/chatBody

            .sSectWr(v-show="section==1" v-if="status.isQ")
                include elements/qBody
            #sFooterEnd
            #UpBtn(onclick="window.scrollTo(0, 0);")
                <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Mobile" transform="translate(-149.000000, -501.000000)" fill="#4F4F4F" fill-rule="nonzero">
                <g id="ic-baseline-add-circle-outline" transform="translate(148.000000, 500.000000)">
                <g id="Icon">
                <path d="M10,1.66666667 C5.4,1.66666667 1.66666667,5.4 1.66666667,10 C1.66666667,14.6 5.4,18.3333333 10,18.3333333 C14.6,18.3333333 18.3333333,14.6 18.3333333,10 C18.3333333,5.4 14.6,1.66666667 10,1.66666667 Z M10,16.6666667 C6.325,16.6666667 3.33333333,13.675 3.33333333,10 C3.33333333,6.325 6.325,3.33333333 10,3.33333333 C13.675,3.33333333 16.6666667,6.325 16.6666667,10 C16.6666667,13.675 13.675,16.6666667 10,16.6666667 Z" id="Icon-Shape"></path>
                <rect id="Icon-Rectangle-path" fill-opacity="0" x="0" y="0" width="20" height="20"></rect>
                </g>
                </g>
                <g id="ic-round-arrow-upward" transform="translate(150.000000, 502.000000)">
                <g id="Icon">
                <path d="M8.66666667,12.6666667 L8.66666667,5.22 L11.92,8.47333333 C12.18,8.73333333 12.6066667,8.73333333 12.8666667,8.47333333 C12.9914854,8.34877027 13.0616294,8.17967298 13.0616294,8.00333333 C13.0616294,7.82699369 12.9914854,7.6578964 12.8666667,7.53333333 L8.47333333,3.14 C8.34877027,3.01518127 8.17967298,2.94503731 8.00333333,2.94503731 C7.82699369,2.94503731 7.6578964,3.01518127 7.53333333,3.14 L3.13333333,7.52666667 C2.9654185,7.69458149 2.89984029,7.93932269 2.96130138,8.16869861 C3.02276247,8.39807454 3.20192546,8.57723753 3.43130139,8.63869862 C3.66067731,8.70015971 3.90541851,8.6345815 4.07333333,8.46666667 L7.33333333,5.22 L7.33333333,12.6666667 C7.33333333,13.0333333 7.63333333,13.3333333 8,13.3333333 C8.36666667,13.3333333 8.66666667,13.0333333 8.66666667,12.6666667 Z" id="Icon-Shape"></path>
                <rect id="Icon-Rectangle-path" fill-opacity="0" x="0" y="0" width="16" height="16"></rect>
                </g>
                </g>
                </g>
                </g>
                </svg>
        include elements/regUser





