
.sBox
    .sLoader(v-if="!isLoaded")
    .sRoomBox(v-if="isLoaded")
        .sHeader
            .sHeaderItem(v-if="status.isChat"  v-bind:class="{active:section==0, aFull:!status.isQ}" v-on:click="changeSection(0)")
                .sHeaderItemTitle
                    .sHeaderItemTitleText Чат
                    .sHeaderItemTitleIcon
            .sHeaderItem(v-if="status.isQ" v-bind:class="{active:section==1, aFull:!status.isChat}" v-on:click="changeSection(1)")
                .sHeaderItemTitle
                    .sHeaderItemTitleText Вопросы
                    .sHeaderItemTitleIcon
        .sBody
            .sSectWr(v-show="section==0" v-if="status.isChat")
                include elements/chatBody

            .sSectWr(v-show="section==1" v-if="status.isQ")
                include elements/qBody
            #sFooterEnd
        include elements/regUser





